if [ ! -d ".venv" ]; then
  echo "Installing virtualenv for $(python3 -V)"
  python3 -m venv .venv
  echo "Activating $(python3 -V) virtualenv"
  source $PWD/.venv/bin/activate
  pip3 install pipenv pre-commit flake8 pytest mypy pylint
  pre-commit install
  test -f $PWD/requirements.txt && pip3 install -r $PWD/requirements.txt --upgrade
fi

source $PWD/.venv/bin/activate
export PATH=$(git rev-parse --show-toplevel)/bin:$PWD/.venv/bin:$PATH
